<p>
  Async Todo list2:
</p>
<ul>
<li *ngFor="let item of todoList | async">

<app-todo-item [item]="{name:item.todo, description:item.description, done: item.done}" (todoCompleted)="todoDelete($event)"></app-todo-item>
</li>
</ul>
<button (click)="DoneFirst()">Done First*</button> |
<button (click)="DoneLast()">Done Last</button> |
<button (click)="MergeGroup()">Order of arriving(merge)</button> |
<button (click)="SwitchGroup()">SwitchLatest Group</button> |
<button class="zzz" id="canelTst" #cancel (click)="Cancel()">CANCEL</button>
<hr>
* = cancable