<h1>Rx List & Subject</h1>
<ul>
<li *ngFor="let item of todoList | async">

<app-todo-item [item]="{name:item.todo, description:item.description, done: item.done}" (todoCompleted)="todoDelete($event)"></app-todo-item>
</li>
</ul>
<button (click)="DoneFirst()">Done First*</button> |
<button (click)="DoneLast()">Done Last</button> |
<button (click)="MergeGroup()">Order of arriving(merge)</button> |
<button (click)="SwitchGroup()">SwitchLatest Group</button> |
<button #cancel (click)="Cancel()">CANCEL</button>
<hr>
<button (click)="GetAllAtOnce()">All at once</button> |

* = cancable

<label>Subjects: 
<input type="checkbox" [(ngModel)]="subjectChk" /></label><br/>
<span *ngIf="subjectChk" class="animate-if">  
  <app-subjectform (subjectTodo)="GetTodoSubject($event)"></app-subjectform>
</span>