<nav class="navbar navbar-default">
  <div class="container-fluid">      
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a [routerLink]="['signin']"> Sign In </a></li>
        <li class="active"><a [routerLink]="['signup']"> Sign Up </a></li>                                
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<footer class="info">
			<p>Double-click to edit a todo</p>
			<p>Created by oshoferyuk using <a href="http://angular.io">Angular2</a></p>
</footer>