<nav class="navbar navbar-default">
  <div class="container-fluid">      
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">      
      <div class="center">
        <a *ngIf="isNotAuth()" [routerLink]="['signin']"> Sign In </a>
        <a *ngIf="isNotAuth()" [routerLink]="['signup']"> Sign Up </a>        
        <a *ngIf="!isNotAuth()" (click)="onLogout()"> Log out </a>        
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<footer class="info">
			<p>2016</p>
			<p>Created by oshoferyuk using <a href="http://angular.io">Angular2</a></p>
</footer>