<h4 class="center">This app is part of webinar 2016.</h4>
<b>ToDo Page</b>
    <ul>
        <li>Basic Component(reference, handlers, Input, Output, ViewChild, etc)
        <li>Behaviour Directive</li>
        <li>flow Pipe</li>
    </ul>
    <br/>
<b>Crazy List</b>
    <ul>
        <li>Main RxJS Strategies: Switch, Concat, Merge</li>
        <li>Base RxJS function transformation: map, fiter, zip, concatAll, reduce, etc</li>
        <li>Rx Subjects</li>
        <li>Rx Notifications</li>
        <li>Basic TD Forms</li>
        <li>http Service & async pipe</li>            
    </ul>
    <br/>
 <b>Component Interaction</b>
    <ul>
        <li>Parent Child Input Output</li>
        <li>Parent Child Input Output +setter</li>
        <li>Parent Child reference</li>
        <li>Input with ngOnChanges </li>
        <li>Parent-child via service(Subject or EventEmitter)</li>
    </ul>
    <br/>
    <b>DD Form</b>    
    <ul>
        <li>Basics of Document Driven form</li>
        <li>Form Validation</li>
        <li>Dynamic Form construction</li>
        <li>Material design</li>  
    </ul>
    <br/>
    <b>Lazy Master</b>
    <ul>
        <li>Seporated Lazy Module</li>
        <li>Angularfire2</li>                
    </ul>
    <br/>

    <b>About</b>
    <ul>
        <li>List of covered topics</li>
        <li>CanDeactivate Guard</li>                
    </ul>
    <br/>

<b>Common</b>
    <ul>
        <li>Routing, navigation, links, childRouting, AuthGuard</li>
        <li>firebase db, firebase authentication</li>
        <li>Angular cli</li>
        <li>App Deployment</li>                
    </ul>
        
<b>Please confirm that you have read this ...</b>
<input type="checkbox" [checked]="isConf" (change)="isConf = !isConf" />
<h6>Imperative naviagation:
<a href="#" (click)="goHome()">Go Home</a>
</h6>