<input (keyup)="onKey($event)" class="new-todo" placeholder="What needs to be done?">	
<section id="todoapp">
<ul id="todo-list">
	<li *ngFor="let todo of todos | status:state">		
        <app-todo-item [item]="todo" (todoTogle)="todoTogle($event)" (todoDelete)="todoDelete($event)"></app-todo-item>
	</li>
</ul>
</section>
<footer id="footer" data-anddom-display="" style="">
                <span *ngIf="todos.length != 0" id="todo-count" data-hook="todo-count"><strong>{{todos.length}}</strong> item(s)</span>
                <ul id="filters">
                    
                    <li>
                        <a #all (click)="onAll()" [ngClass]="{'selected': state == 0 }" href="#">All</a>
                    </li>
                    <li>
                        <a #active (click)="onActive()" [ngClass]="{'selected': state == 1 }" href="#"  class="">Active</a>
                    </li>
                    <li>
                        <a #completed (click)="onCompleted()" href="#" [ngClass]="{'selected': state == 2 }">Completed</a>
                    </li>
                </ul>
                <button id="clear-completed" style="display: none;">Clear completed</button>
            </footer>
<router-outlet></router-outlet>
