<h1>User Form </h1>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="form-group">    
      <md-input-container>
        <input md-input placeholder="User Name"
              type="text"             
              id="username"
              formControlName="username"/>
      
    </md-input-container>  
  </div>
  <div class="form-group">          
  <md-input-container>
    <input md-input placeholder="Email" 
                  type="text"              
                  id="email2"
                  formControlName="email2"
             >
    </md-input-container>
      <div *ngIf="userForm.controls['email2'].dirty && !userForm.controls['email2'].valid">
        Invalid email
      </div>       
  </div>

<md-select placeholder="Choose:">
  <md-option *ngFor="let litra of ['book','magazine']" [value]="litra">
    {{ litra }}
  </md-option>
</md-select>

    <div formArrayName="hobbies">
    <label for="hobby">Hobbies</label>
    <div class="form-group" *ngFor="let hobby of userForm.controls['hobbies'].controls; let i=index">          
      <input type="text"
             class="form-control"
             id="hobby"
             formControlName="{{i}}"/>
    </div>          
    </div>
  <button type="button" md-button (click)="addHobby()">Add hobby</button>
  <button type="submit" md-button [disabled]="!userForm.valid">Submit</button>
</form>
